[submodule "BT_Controller/third_party/json"]
	path = BT_Controller/third_party/json
	url = https://github.com/nlohmann/json.git
[submodule "BT_Controller/third_party/json-schema-validator"]
	path = BT_Controller/third_party/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "BT_Controller/third_party/magic_enum"]
	path = BT_Controller/third_party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "BT_Controller/third_party/paho.mqtt.cpp"]
	path = BT_Controller/third_party/paho.mqtt.cpp
	url = https://github.com/eclipse/paho.mqtt.cpp.git
[submodule "BT_Controller/third_party/BehaviorTree.CPP"]
	path = BT_Controller/third_party/BehaviorTree.CPP
	url = https://github.com/BehaviorTree/BehaviorTree.CPP.git
