[submodule "MQTT_BT_Controller/third_party/json-schema-validator"]
	path = MQTT_BT_Controller/third_party/json-schema-validator
	url = https://github.com/pboettch/json-schema-validator.git
[submodule "MQTT_BT_Controller/third_party/json"]
	path = MQTT_BT_Controller/third_party/json
	url = https://github.com/nlohmann/json.git
