omronCameraSystemAAS:
    idShort: omronCameraSystemAAS
    id: 'https://smartproductionlab.aau.dk/aas/omronCameraSystem'
    globalAssetId: 'https://smartproductionlab.aau.dk/assets/MzFiZTU1YzAtODc0ZC00YTRmLTkzYzItMDQ5ZDZjZDdhZTYw'
    derivedFrom: 'https://smartproductionlab.aau.dk/aas/templates/resource'
    assetType: 'https://smartproductionlab.aau.dk/Resource/CPPM/QualityControlSystem/omronCameraSystem'
    serialNumber: 'OMRON-CAM-2024-001'
    location: 'InnoLab, Nybrovej, AAU'
    AssetInterfacesDescription:
        InterfaceMQTT:
            Title: 'optima Camera System'
            EndpointMetadata:
                base: 'mqtt://192.168.0.104:1883/NN/Nybrovej/InnoLab/Camera'
                contentType: 'application/json'
            InteractionMetadata:
                actions:
                    - Capture:
                        key: 'Capture'
                        title: 'Capture'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Capture'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Capture'
                                mqv_controlPacket: 'publish'
                    - halt:
                        key: 'halt'
                        title: 'halt'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Halt'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Halt'
                                mqv_controlPacket: 'publish'                                                
                    - occupy:
                        key: 'occupy'
                        title: 'occupy'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Occupy'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Occupy'
                                mqv_controlPacket: 'publish'
                    - release:
                        key: 'release'
                        title: 'release'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Release'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Release'
                                mqv_controlPacket: 'publish'
                properties:
                    - PackMLState:
                        key: 'PackMLState'
                        title: 'PackMLState'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/state.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/DATA/State'
                            mqv_retain: 'false'
                            mqv_controlPacket: publish
                            mqv_qos: '0'                                
                    - OccupationState:
                            key: 'OccupationState'
                            title: 'OccupationState'
                            output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/stationOccupation.schema.json'
                            forms:
                                contentType: 'application/json'
                                href: '/DATA/Occupation'
                                mqv_retain: 'false'
                                mqv_controlPacket: publish
                                mqv_qos: '0'
                    - Image:
                            key: 'Image'
                            title: 'Image'
                            output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/image.schema.json'
                            forms:
                                contentType: 'application/json'
                                href: '/DATA/Image'
                                mqv_retain: 'false'
                                mqv_controlPacket: publish
                                mqv_qos: '0'

    Variables:
        PackMLState:
            semanticId: 'https://www.omac.org/packml/state'
            InterfaceReference: 'PackMLState'
        OccupationState:
            semanticId: 'https://smartproductionlab.aau.dk/stationOccupation'
            InterfaceReference: 'OccupationState'
        Image:
            semanticId: 'https://smartproductionlab.aau.dk/image'
            InterfaceReference: 'Image'
    Parameters:
    HierarchicalStructures:
        Archetype: 'OneUp'
        IsPartOf:
            - aauFillingLine:
                globalAssetId: 'https://smartproductionlab.aau.dk/assets/MWQ2ODY5ZDEtZTQ3Yy00NWU4LTlmYTAtNTI3YjVlMDk4MWFi'
    
    Capabilities:
        Capture:
            realizedBy: "Capture"
    
    Skills:
        Capture:
            description: "Capture image for quality control"
            semantic_id: "https://smartproductionlab.aau.dk/skills/Capture"
            interface: "Capture"
        halt:
            description: "Halt the current capture operation"
            semantic_id: "https://smartproductionlab.aau.dk/skills/halt"
            interface: "halt"
        occupy:
            description: "Occupy the camera system for exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/occupy"
            interface: "occupy"
        release:
            description: "Release the camera system from exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/release"
            interface: "release"