productionPlanner:
    idShort: productionPlanner
    id: 'https://smartproductionlab.aau.dk/aas/productionPlanner'
    globalAssetId: 'https://smartproductionlab.aau.dk/assets/YWY0MjA2MjYtMzg2Ni00M2NjLTkyN2ItM2VjNDg4MzNlMTJm'
    derivedFrom: 'https://smartproductionlab.aau.dk/aas/templates/resource'
    assetType: 'https://smartproductionlab.aau.dk/Resource/CPPM/DispensingSystem/productionPlanner'
    serialNumber: 'AAU-PP-2024-001'
    location: 'InnoLab, Nybrovej, AAU'
    AssetInterfacesDescription:
        InterfaceMQTT:
            Title: 'AAU Production Planner'
            EndpointMetadata:
                base: 'mqtt://192.168.0.104:1883/NN/Nybrovej/InnoLab/ProductionPlanner'
                contentType: 'application/json'
            InteractionMetadata:
                actions:
                    Plan:
                        key: 'Plan'
                        title: 'Plan'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/planningCommand.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Plan'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Plan'
                                mqv_controlPacket: 'publish'
                    occupy:
                        key: 'occupy'
                        title: 'occupy'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Occupy'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Occupy'
                                mqv_controlPacket: 'publish'
                    release:
                        key: 'release'
                        title: 'release'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Release'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Release'
                                mqv_controlPacket: 'publish'
                properties:
                    PackMLState:
                        key: 'PackMLState'
                        title: 'PackMLState'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/state.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/DATA/State'
                            mqv_retain: 'false'
                            mqv_controlPacket: publish
                            mqv_qos: '0'                                
                    OccupationState:
                        key: 'OccupationState'
                        title: 'OccupationState'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/stationOccupation.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/DATA/Occupation'
                            mqv_retain: 'false'
                            mqv_controlPacket: publish
                            mqv_qos: '0'
    Variables:
        PackMLState:
            semanticId: 'https://www.omac.org/packml/state'
            InterfaceReference: 'PackMLState'
        OccupationState:
            semanticId: 'https://smartproductionlab.aau.dk/stationOccupation'
            InterfaceReference: 'OccupationState'

    Parameters:
    HierarchicalStructures:
    
    Capabilities:
        ProductionPlanning:
            realizedBy: "Plan"

    
    Skills:
        Plan:
            description: "Generate a production plan for the provided product using the available assets"
            semantic_id: "https://smartproductionlab.aau.dk/skills/productionPlanning"
            interface: "Plan"
        occupy:
            description: "Occupy the planner for exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/occupy"
            interface: "occupy"
        release:
            description: "Release the planner from exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/release"
            interface: "release"
