productionPlannerAAS:
    idShort: productionPlannerAAS
    id: 'https://smartproductionlab.aau.dk/aas/productionPlannerAAS'
    globalAssetId: 'https://smartproductionlab.aau.dk/assets/YWY0MjA2MjYtMzg2Ni00M2NjLTkyN2ItM2VjNDg4MzNlMTJm'
    derivedFrom: 'https://smartproductionlab.aau.dk/aas/templates/resource'
    assetType: 'https://smartproductionlab.aau.dk/Resource/ProductionPlanner'
    serialNumber: 'AAU-PP-2024-001'
    location: 'InnoLab, Nybrovej, AAU'
    AssetInterfacesDescription:
        InterfaceMQTT:
            Title: 'AAU Production Planner'
            EndpointMetadata:
                base: 'mqtt://192.168.0.104:1883/NN/Nybrovej/InnoLab/ProductionPlanner'
                contentType: 'application/json'
            InteractionMetadata:
                actions:
                    Plan:
                        key: 'Plan'
                        title: 'Plan'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/planningCommand.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/planningResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Plan'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Plan'
                                mqv_controlPacket: 'publish'
                properties:
                    StationState:
                        key: 'StationState'
                        title: 'StationState'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/stationState.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/DATA/State'
                            mqv_retain: 'false'
                            mqv_controlPacket: publish
                            mqv_qos: '0'
    Variables:
        PackMLState:
            semanticId: 'https://www.omac.org/packml/state'
            InterfaceReference: 'StationState'
            Field: 'State'
        OccupationState:
            semanticId: 'https://smartproductionlab.aau.dk/stationOccupation'
            InterfaceReference: 'StationState'
            Field: 'ProcessQueue'

    Parameters:
    HierarchicalStructures:
    
    Capabilities:
        ProductionPlanning:
            realizedBy: "Plan"

    
    Skills:
        Plan:
            description: "Generate a production plan for the provided product using the available assets"
            semantic_id: "https://smartproductionlab.aau.dk/skills/productionPlanning"
            interface: "Plan"
        Occupy:
            description: "Occupy the system for exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/Occupy"
            interface: "Occupy"
        Release:
            description: "Release the system from exclusive use"
            semantic_id: "https://smartproductionlab.aau.dk/skills/Release"
            interface: "Release"
