syntegonStopperingSystemAAS:
    idShort: syntegonStopperingSystemAAS
    id: 'https://smartproductionlab.aau.dk/aas/syntegonStopperingSystem'
    globalAssetId: 'https://smartproductionlab.aau.dk/assets/NGQ5ZWE4ZmUtY2Q3OS00Nzc5LWE5YjEtNGEzZGRkODRhNzQ2'
    derivedFrom: 'https://smartproductionlab.aau.dk/aas/templates/resource'
    assetType: 'https://smartproductionlab.aau.dk/Resource/CPPM/StopperingSystem/syntegonStopperingSystem'
    serialNumber: 'SYN-SS-2024-001'
    location: 'InnoLab, Nybrovej, AAU'
    AssetInterfacesDescription:
        InterfaceMQTT:
            Title: 'Syntegon Stoppering System'
            EndpointMetadata:
                base: 'mqtt://192.168.0.104:1883/NN/Nybrovej/InnoLab/Stopper'
                contentType: 'application/json'
            InteractionMetadata:
                actions:
                    - Stoppering:
                        key: 'Stoppering'
                        title: 'Stoppering'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Stoppering'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Stoppering'
                                mqv_controlPacket: 'publish'
                    - halt:
                        key: 'halt'
                        title: 'halt'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Halt'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Halt'
                                mqv_controlPacket: 'publish'                                                
                    - occupy:
                        key: 'occupy'
                        title: 'occupy'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Occupy'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Occupy'
                                mqv_controlPacket: 'publish'
                    - release:
                        key: 'release'
                        title: 'release'
                        synchronous: 'true'
                        input: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/command.schema.json'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/commandResponse.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/CMD/Release'
                            op: 'invokeAction'
                            mqv_retain: 'false'
                            mqv_controlPacket: subscribe
                            mqv_qos: '2'
                            response:
                                contentType: 'application/json'
                                href: '/DATA/Release'
                                mqv_controlPacket: 'publish'
                properties:
                    - PackMLState:
                        key: 'PackMLState'
                        title: 'PackMLState'
                        output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/state.schema.json'
                        forms:
                            contentType: 'application/json'
                            href: '/DATA/State'
                            mqv_retain: 'false'
                            mqv_controlPacket: publish
                            mqv_qos: '0'                                
                    - OccupationState:
                            key: 'OccupationState'
                            title: 'OccupationState'
                            output: 'https://aausmartproductionlab.github.io/AP2030-UNS/MQTTSchemas/stationOccupation.schema.json'
                            forms:
                                contentType: 'application/json'
                                href: '/DATA/Occupation'
                                mqv_retain: 'false'
                                mqv_controlPacket: publish
                                mqv_qos: '0'
    Variables:
        - PackMLState:
            semanticId: 'https://www.omac.org/packml/state'
            Value: 'Idle'   
            InterfaceReference: 'PackMLState'
        - OccupationState:
            semanticId: ''
            State: 'Available'
            Queue: '[]'   
            InterfaceReference: 'OccupationState'
    Parameters:
    HierarchicalStructures:
        Archetype: 'OneUp'
        IsPartOf:
            - aauFillingLine:
                globalAssetId: 'https://smartproductionlab.aau.dk/assets/MWQ2ODY5ZDEtZTQ3Yy00NWU4LTlmYTAtNTI3YjVlMDk4MWFi'
    
    # Capabilities:
    #     - Stoppering:
    #         realizedBy: "Stoppering"
    
    # Skills:
        # Stopper:
        #     description: "Stoppering function for pharmaceutical primary packaging"
        #     semantic_id: "https://smartproductionlab.aau.dk/Stoppering"
        #     input_variable:
        #         Uuid: "string"
        #     output_variable:
        #         State: "string"
        #     in_ouput_variable:
        #     interface: "Stoppering"
        # Occupy:
        #     description: "Stoppering function for pharmaceutical primary packaging"
        #     semantic_id: "https://smartproductionlab.aau.dk/Occupy"
        #     input_variable:
        #         Uuid: "string"
        #     output_variable:
        #         State: "string"
        #     in_ouput_variable:
        #     interface: "occupy"
        # Release:
        #     description: "Stoppering function for pharmaceutical primary packaging"
        #     semantic_id: "https://smartproductionlab.aau.dk/Release"
        #     input_variable:
        #         Uuid: "string"
        #     output_variable:
        #         State: "string"
        #     in_ouput_variable:
        #     interface: "release"
        # Halt:
        #     description: "Stoppering function for pharmaceutical primary packaging"
        #     semantic_id: "https://smartproductionlab.aau.dk/Halt"
        #     input_variable:
        #         Uuid: "string"
        #     output_variable:
        #         State: "string"
        #     in_ouput_variable:
        #     interface: "halt"